USE [master]
GO
/****** Object:  Database [airline_planner]    Script Date: 7/18/2016 1:38:36 PM ******/
CREATE DATABASE [airline_planner]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'airline_planner', FILENAME = N'C:\Users\epicodus\airline_planner.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'airline_planner_log', FILENAME = N'C:\Users\epicodus\airline_planner_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [airline_planner].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [airline_planner]
GO
USE [airline_planner]
GO
/****** Object:  Table [dbo].[cities]    Script Date: 7/18/2016 1:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cities_flights]    Script Date: 7/18/2016 1:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cities_flights](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[city_id] [int] NULL,
	[flight_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[flights]    Script Date: 7/18/2016 1:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[flights](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[departure_city] [varchar](255) NULL,
	[arrival_city] [varchar](255) NULL,
	[departure_time] [datetime] NULL,
	[arrival_time] [datetime] NULL,
	[status] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
